@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Body text specification */

.wrapper {
    
    transition: 0.2s ease-in-out;
    opacity:0;
}
body {
    width:100%;
    overflow-x:hidden;
    background-color:black;
}



body h1{
    font-family: 'Poppins', 'sans-serif';
    font-size: 42px;
    color:black;
    font-weight:bold;
    letter-spacing:-1.8px;
    line-height:50px
}

body h2{
    font-family: 'Poppins', 'sans-serif';
    font-size: 36px;
    color:black;
    font-weight:bold;
    letter-spacing:-1.8px;
    line-height:44px
}

body h3{
    font-family: 'Poppins', 'sans-serif';
    font-size: 30px;
    color:black;
    font-weight:bold;
    letter-spacing:-1.8px;
    line-height:-2px;
    line-height:36px
}

body h4{
    font-family: 'Poppins', 'sans-serif';
    font-size: 26px;
    color:black;
    font-weight:bold;
    letter-spacing:-1.8px;
    line-height:32px
}

body h5{
    font-family: 'Poppins', 'sans-serif';
    font-size: 22px;
    color:black;
    font-weight:bold;
    letter-spacing:-1.8px;
    line-height:26px
}

body h6{
    font-family: 'Poppins', 'sans-serif';
    font-size: 18px;
    color:black;
    font-weight:bold;
    letter-spacing:-1.8px;
    line-height:22px
}

body p {
    font-family: 'Poppins', 'sans-serif';
    font-size:16px;
    color: #707070;
    font-weight: light;
}

.desc {
    font-family: 'Poppins', 'sans-serif';
    font-size:14px;
    color: #707070;
    font-weight: light;
}

.meta {
    font-family: 'Poppins', 'sans-serif';
    font-size:12px;
    color: #707070;
    font-weight: light;
}

body span {
    font-family: 'Poppins', 'sans-serif';
}

.u-header {
    color:#185266;
    font-size: 16px;
    font-family: 'Poppins', 'sans-serif';
}

.preloader {
	background-color:#141414;
	width:100%;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	transition:all 0.3s ease-in-out;

}

.preloader-gif {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transform: scale(15%);
}

.wrapper {
	position:fixed;
	z-index:0;
}

@media only screen and (max-width:900px) {
    .preloader {
        background-color: #141414;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        transition: all 0.3s ease-in-out;

    }

    .preloader-gif {


        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 50%;
        transform: scale(30%);

    }

    .wrapper {
        position: fixed;
        z-index: 0;
    }

}

@media only screen and (max-width: 768px) {

    .preloader {
        background-color: #141414;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        transition: all 0.3s ease-in-out;

    }

    .preloader-gif {


        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 50%;
        transform: scale(40%);

    }

    .wrapper {
        position: fixed;
        z-index: 0;
    }



}

@media only screen and (max-width: 480px) {

    .preloader {
        background-color: #141414;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        transition: all 0.3s ease-in-out;

    }

    .preloader-gif {


        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 50%;
        transform: scale(60%);

    }

    .wrapper {
        position: fixed;
        z-index: 0;
    }

}

/* FOR TEST */


/*
.carousel-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
}

.carousel-content >
    h1 {
        color:white;
        display:table-cell;
        vertical-align: middle;
        text-align:center;
    }
.carousel-content > 
    p {
        display:table-cell;
        vertical-align: middle;
        text-align:center;
    }

*/